In [1]:
import pickle
import numpy as np

import sys
sys.path.append('../../../')
import ndrought.drought_network as dnet
import ndrought.wrangle_v11 as dnw

import matplotlib as mpl
import matplotlib.pyplot as plt

import pandas as pd
import xarray as xr

import os

/pool0/data/steinjao/drought/drought_impact/notebooks/analysis/drought_tracks/../../../ndrought/wrangle.py:17: TqdmExperimentalWarning: Using `tqdm.autonotebook.tqdm` in notebook mode. Use `tqdm.tqdm` instead to force console mode (e.g. in jupyter console)
  from tqdm.autonotebook import tqdm

In [2]:
cwd = '/pool0/home/steinadi/data/drought/drought_impact/data/thresh_experiments'

First let's check that the new method matches the old method

In [3]:
test_dtd_old = dnw.convert_pickle_to_dtd(f'{cwd}/spi30d/track/track_2800a_09r_1m.pickle')

In [4]:
#test_dtd_new = dnw.convert_pickle_to_dtd(f'{cwd}/spi30d/track/storage/track_2800a_09r_1m.pickle')

In [5]:
#test_summ, test_summ_grp = dnw.compute_track_summary_characterization(test_dtd_old, 5)
# ValueError: zero-size array to reduction operation maximum which has no identity

In [6]:
#test_dtd_old['t']

In [7]:
#test_dtd_new['t']

the new method jumps time on occasion .... don't like that. We'll stick with the old method.

Old method still has some empty paths ... we need to remove those.

In [8]:
test_dtd = test_dtd_old

In [9]:
new_x = []
for track in test_dtd['x']:
    if len(track) > 0:
        new_x.append(track)

In [10]:
for key in test_dtd.keys():
    var_tracks = test_dtd[key]
    trimmed_tracks = []
    for track in var_tracks:
        if len(track) > 0:
            trimmed_tracks.append(track)
    test_dtd[key] = trimmed_tracks

In [11]:
test_summ, test_summ_grp = dnw.compute_track_summary_characterization(test_dtd, 5)

/pool0/data/steinjao/drought/drought_impact/notebooks/analysis/drought_tracks/../../../ndrought/wrangle_v11.py:971: FutureWarning: ['xy_size', 'uv_size'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  return summary_df, summary_df.groupby(pd.cut(summary_df.lifetime, bins=bins)).agg(['mean', 'median', 'max', 'min', 'std', 'count'])

In [12]:
test_summ

,lifetime,distance,displacement,average velocity,similarity,xy_size,uv_size
0,5,8.014812e+05,712884.456813,1.602962e+05,0.451215,"[5050, 78200]","[78200, 93334]"
1,5,7.432056e+05,500829.534176,1.486411e+05,0.445396,"[4140, 78200]","[78200, 93334]"
2,20,7.877706e+05,750730.700255,3.938853e+04,0.775824,"[9999, 10457, 48842, 60219, 63784]","[10457, 48842, 60219, 63784, 66885]"
3,15,4.364986e+05,249503.362585,2.909990e+04,0.692970,"[3080, 48842, 60219, 63784]","[48842, 60219, 63784, 66885]"
4,15,9.552266e+05,732008.284168,6.368177e+04,0.692678,"[3023, 48842, 60219, 63784]","[48842, 60219, 63784, 66885]"
...,...,...,...,...,...,...,...
536,0,1.886142e+05,188614.198356,inf,0.537215,[5637],[10493]
537,10,8.124789e+05,690240.296501,8.124789e+04,0.653193,"[6197, 60509, 56439]","[60509, 56439, 61053]"
538,10,6.819899e+05,590820.099702,6.819899e+04,0.658823,"[7219, 60509, 56439]","[60509, 56439, 61053]"
539,5,1.028960e+06,926845.923263,2.057920e+05,0.264291,"[4987, 17033]","[17033, 72236]"
540,0,2.542306e+05,254230.635227,inf,0.536464,[38752],[72236]

In [20]:
test_summ_grp['distance'].get_group('(0,30]')

AttributeError: 'DataFrame' object has no attribute 'get_group'